html, body {
    width:95%;
    margin:auto;
}

.gallery-links {
    width: 100%;
}

header .header-banner {

    width: 100%;
    height: calc(100vh - 500px);
    display: table;
}

header h1 {

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #808080;
    line-height: 20px;
    text-transform: uppercase;

}

header h2 {

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: 18px;
    color: #c0c0c0;
    text-transform: uppercase;

}

header .logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0 20px 0;
}

header nav ul {

    display: block;
    margin:0, auto;
    text-align: center;
    width: 100%;
    padding: 0

}

header nav ul li {

    display: inline-block;
    margin: 0, auto;
    padding: 16px 16px;

}

nav ul li a {

    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #808080;
    text-transform: uppercase;
    text-decoration: none;
}

footer {

    width: calc(100%-20px);
    height: 80px;
    padding: 40px;
    background-color: #c0c0c0;
    margin-top: 20px;

}

footer ul {

    width: auto;
    float: left;
    padding: 0px;

}

footer ul li {

    display: block;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #808080;

}

footer .footer-sm {
    width:auto;
    float: right;
    align-items: flex-end;
    
}

header .banner-image img{
    width: 100%
}

main {
        font-family: "montserrat", sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #808080:
}
main .main-section{
    width:50%;
    float:left;
    padding: 20px
}

main .meist-image img{
    width:30%;
    float:right;
    padding: 20px;

}

main .gallery-h2{
    width:100%;
    float:left;
}

main .gallery-h2-retseptid{
    width:100%;
    float:left;
}


/*
main .gallery-links{
    float:center;
    align-items: center
}


main .gallery-image {

  border: 1px green solid;
      display: inline;
}
*/

.gallery-links {

    display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
      margin-left: auto;
  margin-right: auto;
}

.post-header {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    color: black;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    background-color: white; 
}

/*

https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp

*/
@media only screen and (min-width: 768px) {
    main .gallery-image {
        position:relative; 
        width:33%;
        flex: 33%;
        height: auto;
        align-items: center;
        }
    
    main .gallery-h2-retseptid{
        display:none;
    }
}

@media only screen and (max-width: 767px) {

    main .gallery-image {
        position:relative;
        height: auto;
        align-items: center;
    }
    
    main .meist-image {
        display:none;
    }
}